body{
    background-color: #ffd1da;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.heart {
    opacity: .5;
    position: relative;
    top: -150px;
}

.heart-1 {
    width: 40px;
    height: 40px;
}

.heart-2 {
    width: 60px;
    height: 60px;
}

.heart-3 {
    width: 80px;
    height: 80px;
}

.he1 {
    animation: line 7s linear infinite;
}

.he2 {
    animation: line 7s 3s linear infinite;
}

.he3 {
    animation: line 7s 1s linear infinite;
}

.he4 {
    animation: line 7s 5s linear infinite;
}

.he7 {
    animation: line 7s 7s linear infinite;
}

.he8 {
    animation: line 7s 2s linear infinite;
}

.he9 {
    animation: line 7s 9s linear infinite;
}

@keyframes line {
    0% {transform: translateY(0)}
    50% {transform: translateY(400px) rotate(180deg) scale(1)}
    100% {transform: translateY(700px) rotate(360deg) scale(0)}
}

.words {
    position: fixed;
    left: calc(50% - 150px);
    top: calc(50% - 150px);
    width: 300px;
    height: 300px;
    text-align: center;
    opacity: .8;
    animation: knok 1s .5s linear infinite;
}

.half {
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: #bd0086;
    border-radius: 0 80px 80px 0;
    z-index: -1;
    top: calc(50% - 90px);
}
.left {
    transform: rotateZ(225deg);
    left: -12px;
}

.right {
    transform: rotateZ(-45deg);
    left: 60px;
}

p {
    position: relative;
    top: calc(50% - 50px);
    font-size: 50px;
    margin: 0;
    font-family: "Monotype Corsiva";
    color: #ffd1da;
}

@keyframes knok {
    0% {transform: scale(1)}
    90% {transform: scale(1)}
    95% {transform: scale(1.1)}
    100% {transform: scale(1)}
}